<ion-content>
    <ion-card>
        <form [formGroup]="persona" (ngSubmit)="registrar()">
          <ion-input formControlName="rut" type="text" labelPlacement="stacked" label="RUT"></ion-input>
          <ion-input formControlName="nombre" type="text" labelPlacement="stacked" label="Nombre"></ion-input>
          <ion-input formControlName="fecha_nacimiento" type="date" labelPlacement="stacked" label="Fecha nacimiento"></ion-input>
          <ion-select formControlName="genero" label="Género" labelPlacement="stacked" cancelText="NO NO!">
            <ion-select-option>Masculino</ion-select-option>
            <ion-select-option>Femenino</ion-select-option>
            <ion-select-option>Otro</ion-select-option>
          </ion-select>
          
          <ion-label>¿Tiene equipo?</ion-label>
          <ion-radio-group formControlName="tiene_equipo">
            <ion-radio value="si">Si</ion-radio>
            <ion-radio value="no">No</ion-radio>
          </ion-radio-group>
          
          <ion-input *ngIf="persona.controls.tiene_equipo.value=='si'" formControlName="nombre_equipo" type="text" label="Nombre equipo" labelPlacement="stacked"></ion-input>
    
          <ion-button [disabled]="persona.invalid" type="submit" size="block" color="warning">REGISTRAR</ion-button>
          <ion-button [disabled]="botonModificar || persona.invalid" (click)="modificar()" size="block" color="dark">MODIFICAR</ion-button>
          <ion-button type="reset" size="block" color="secondary">LIMPIAR</ion-button>
        </form>
      </ion-card>

      <div *ngIf="usuarios.length > 0; else noHayUsuarios">
        <ion-list *ngFor="let usuario of usuarios">  
          <ion-item-sliding>
            <ion-item-options side="start">
              <ion-item-option (click)="buscar(usuario.rut)" color="warning">Buscar</ion-item-option>
            </ion-item-options>
            <ion-item>{{usuario.rut}} - {{usuario.nombre}}</ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="eliminar(usuario.rut)" color="danger">Eliminar</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
      <ng-template #noHayUsuarios>
        <img src="https://img.freepik.com/vector-premium/no-hay-ilustracion-concepto-datos_203587-28.jpg" alt="">
      </ng-template>

</ion-content>
